.track-card {
    background-color: #1b1c1e;
    position: relative;
    padding: 1rem;
}

.track-card > img {
    width: 40px;
    height: 40px;
    position: absolute;
}

.track-card > .favorite {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    user-select: none;
}

.track-card > .favorite:hover {
    cursor: pointer;
}

.track-card > .data {
    margin-left: 70px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.7rem;
}

.track-card > .data > p {
    margin: 0;
}

.data > .name {
    font-size: 1rem;
    width: 50%;
}

.data > .artist {
    font-size: .9rem;
    width: 30%;
}

.data > .album {
    font-size: .7rem;
    width: 20%;
}

.data > .duration {
    font-size: .7rem;
}

.data > button {
    background: none;
    border: none;
    color: red;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}

.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}

@media screen and (max-width: 450px) { 
    .track-card {
        width: 285px;
    }
    .track-card > .data {
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
    }

    /* TODO: style shorted display track cards info*/
}